

.nav-menu {
	text-align: center;
	margin-bottom: 17px;
	margin-top: 10px;
}

.btn-nav {
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
}

.btn-nav:hover {
color: #f9844a
}
